<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <h4>{{ contact.name }}</h4>
        <p>{{ contact.title }} {{ contact.department }}</p>
        <p>{{ contact.institution }} {{ contact.institution_address }}</p>
        <p>Phone: {{ contact.phone }}</p>
        <p>Email: {{ contact.email }}</p>
        <p>Office: {{ contact.office }}</p>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3176.684217722507!2d-80.43015182478595!3d37.2314706432716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x884d95abd01ff307%3A0x51b50c700be3ada4!2sData%20and%20Decision%20Sciences%20(D%26DS)%20Building!5e0!3m2!1sen!2sus!4v1693096962977!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <!-- <img src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%"> -->
      </div>
    </div>
    {% endfor %}
  </div>
</div>
